<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item"><a class="nav-link" href="/">About Us</a></li>
    <li class="nav-item "><a class="nav-link" href="/deploy">Start Your Own</a></li>
    <li class="nav-item  active"><a class="nav-link" href="/List_fundraiser">Fundraisers</a></li>
        <li class="nav-item "><a class="nav-link" href="/audit">Coin Sharing and Fundraiser Audit</a></li>

  </ul>
</nav>
<link href="https://fonts.googleapis.com/css?family=Handlee|Pacifico" rel="stylesheet">
<style>
.w3-Handlee{
font-family: 'Handlee', cursive;
}
#scrolltable { margin-top: 40px; height: 150px; overflow: auto; }
#scrolltable th div { position: absolute; margin-top: -40px; }
</style>
<div class="w3-padding-large" style="margin-top:30px">
    <P class="w3-wide w3-center" id ="noti"></P>
  <div class="row">
  <div class="col-sm-8">
      <img class="img-fluid" src="{{item.poster}}">
      <h2>The Story</h2>
      <h4><i><b id="name"></b></i></h4>
        <i class="w3-opacity w3-left w3-small w3-wide" id="date"></i><br>
      {{{item.content}}}
      <br>
    <i class="w3-opacity w3-left w3-snall" id="address">Fundraiser Address:"{{item.address}}"</i><br><br>
      <a class=" w3-large w3-wide ">Thank You !  </a><a href="#" onclick="refresh()"><span class="glyphicon glyphicon-refresh"></span></a>
        <div id="scrolltable">
    <table class="w3-table w3-striped w3-bordered"id="donators">
        <tr><th><div>Address</div></th><th><div>Amount</div></th></tr>

    </table>
</div>
    </div>

    <div class="col-sm-4 w3-center">
      <h1 id ="total"></h1><div id="goal"class="w3-small"></div>
      <div class="progress">
        <div id="prgress-bar"class="progress-bar w3-pink" role="progressbar"aria-valuemin="0" aria-valuemax="100" style="width:0%">
                <span class="sr-only"></span>
        </div>
      </div></p>
      <p ><input id="amount" type="number"style="height:43px;width:50%"><A class="w3-wide"><B> FToken(s)</B></A></p>
      {{!-- <button class="w3-button w3-pink w3-round-large" style="width:100%"id="donate" onclick="Donate()">DONATE NOW</button> --}}
      <p id="status"></p>
    <i class="w3-opacity w3-left w3-small" id="fowner"></i><br><br>
      <p id="count"></p>
      <p id="owner"></p>
    <p class="w3-Handlee">Share your love and get 10 <b>RTokens</b> as a gift ! (only one time)  </p>
      <ul class="nav nav-pills flex-column">
      <hr class="d-sm-none">
    </div>
  </div>
</div>



{{!-- setTimeout(location.reload(), 10000); --}}

{{!-- <p id="total"></p> --}}

<script src="/javascripts/FundraiserABI.js"></script>
<script>
  

  var address ="{{item.address}}";
  var contract = fundraiserContract.at(address);
 //Onload functions...........................................................................................................................................................................................      

  contract.getInfo(function(error, result) {
    if (!error) {
        var owner = result[0];
        var total = result[1];
        var goal = result[2];
        var ratio = (total/goal)*100;
        var  months = ["January","February","March","April","May","June","July","August","September","October","November","December"];
        var start = new Date(result[3]*1000);
        var end = new Date(result[4]*1000);
        var isOpen=result[5];
        var isEarly = result[6];
        var isWithdraw = result[7];
        var isActive=result[8];
        var name=result[9];
        document.getElementById("name").innerHTML=name;
        document.getElementById("fowner").innerHTML="Owner Address:\n"+owner;
        var from=start.getDate()+" "+months[start.getMonth()]+", "+start.getFullYear();
        var to=end.getDate()+" "+months[end.getMonth()]+", "+end.getFullYear();
        document.getElementById("date").innerHTML=from+" ----- "+to;
        document.getElementById("total").innerHTML=total;
        document.getElementById("goal").innerHTML="of "+goal+" HTokens goal";
        document.getElementById("prgress-bar").style.width=ratio+"%";
        if(isOpen==false){
            if(!isWithdraw) $("#status").append("<div class=\"w3-button w3-wide w3-dark-grey w3-round-large\" style=\"width:100%\">WAIT FOR OPENNING</div>");
            else $("#status").append("<div class=\"w3-button w3-wide w3-dark-grey w3-round-large\" style=\"width:100%\">CLOSED</div>");
        } 
        else {
            if(isEarly==true) $("#status").append("<div class=\"w3-button w3-wide w3-dark-grey w3-round-large w3-center\" style=\"width:100%\">NOT AVAILABLE YET</div>");

            else{
                
              if(isActive==true){
                $("#status").append("<button class=\"w3-button w3-wide w3-pink w3-round-large w3-center\" style=\"width:100%\"id=\"donate\" onclick=\"Donate()\">DONATE NOW</button>");
                var x = setInterval(function() {

                    // Get todays date and time
                    var now = new Date().getTime();
                    
                    // Find the distance between now an the count down date
                    var distance = end - now;
                    
                    // Time calculations for days, hours, minutes and seconds
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                    
                    // Output the result in an element with id="demo"
                    document.getElementById("count").innerHTML ="Only "+ days + "d " + hours + "h "
                    + minutes + "m " + seconds + "s left.";
                    
                    // If the count down is over, write some text 
                    if (distance < 0) {
                        clearInterval(x);
                    }
                }, 1000);

              } 

              else {
                $("#status").append("<div class=\"w3-button w3-wide w3-dark-grey w3-round-large w3-center\" style=\"width:100%\">EXPIRED</div>");
                    if(!isWithdraw) $("#owner").append("<button class=\"w3-button w3-wide w3-pink w3-round-large w3-center\" style=\"width:100%\"id=\"donate\" onclick=\"withdrawNow()\">WITHDRAW COIN</button>");
              }
            }
        }

       
    } else
        console.log(error);
    });

 contract.getDonators(function(error, result) {
           if (!error) {
               var i;
               text="";
               for(i=0;i<result.length; i++){
                    contract.getDonationOf (result[i],function(error, res) {
                        if (!error) {
                            $("#donators").append(" <tr><td>"+res[0]+"</td><td>"+res[1]+"</td></tr>");
                            console.log(res);
                        } else
                                console.log(error);
                    });
               }
           } else
                console.log(error);
       });

 //Button function...........................................................................................................................................................................................      
    function Donate(){
        contract.donate($("#amount").val(),
            function(error, result) {
                if (!error) {
                    var donate_success = contract.Notification();
                    donate_success.watch(function(error,res){
                        if(!error){
                            document.getElementById("total").innerHTML=res.args.total;
                            document.getElementById("noti").innerHTML="Thank <i>\""+res.args._address+"\"</i> for donating "+res.args.amount+" token(s). You "+res.args.message;
                        }
                        else{
                        }
                    });
                        
                }
                else
                    document.getElementById("noti").innerHTML="Failed to make transaction. Please check again your gasLimit or donation amount must greater than 0 token.";
            }
        );
    }


   

    function withdrawNow(){
        contract.ownerWidthdraw(function(error, result) {
           if (!error) {
               if(result) document.getElementById("noti").innerHTML="Fundraiser closed."
                else  document.getElementById("noti").innerHTML="You are not the owner of this Fundraiser."

           } else document.getElementById("noti").innerHTML="Failed to make transaction."

            
       });
    }

    

    function refresh(){
        location.reload();
    }


</script>



