<nav class="navbar navbar-expand-sm bg-danger navbar-dark">
  <ul class="navbar-nav">
    <li class="nav-item active"><a class="nav-link" href="/">About Us</a></li>
    <li class="nav-item "><a class="nav-link" href="/deploy">Start Your Own</a></li>
    <li class="nav-item"><a class="nav-link" href="/List_fundraiser">Fundraisers</a></li>
        <li class="nav-item "><a class="nav-link" href="/audit">Coin Sharing and Fundraiser Audit</a></li>

  </ul>
  </nav>
<h1 class="w3-wide w3-center" >Welcome to Charity Funding Social Page</h1>

